<div class="container my-4">
  <h2 class="text-center fw-bold mb-4">Liste des suggestions</h2>

  <!-- Search -->
  <input
    class="form-control mb-4"
    type="text"
    placeholder="Rechercher une suggestion"
    [(ngModel)]="searchTitle"
  />


  <!-- Cards -->
  <div class="card shadow-sm mb-4" *ngFor="let s of filteredSuggestions">
    <div class="card-body">

      <h5 class="card-title fw-bold mb-1">{{ s.title }}</h5>

      <div class="small text-muted mb-2">
        <span class="text-primary fw-semibold">{{ s.category }}</span>
        <span class="mx-2">•</span>
        <span>{{ s.date | date:'dd MMM yyyy' }}</span>
      </div>

      <p class="card-text mb-2">{{ s.description }}</p>

      <!-- Status badge -->
      <span
        class="badge text-uppercase"
        [ngClass]="{
          'bg-success': s.status === 'acceptee',
          'bg-danger': s.status === 'refusee',
          'bg-warning text-dark': s.status === 'en_attente'
        }"
      >
        {{ s.status }}
      </span>
      <div class="mt-3 d-flex gap-2" >

        <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/details/',s.id]">
          Voir details
        </button>
        <button class="btn btn-outline-secondary btn-sm"
                [routerLink]="[s.id]">
          Voir details
        </button>
      </div>

      <!-- Actions -->
      <div class="mt-3 d-flex gap-2" *ngIf="s.status !== 'refusee'">
        <button class="btn btn-primary btn-sm" (click)="like(s)">
          Like {{ s.nbLikes }}
        </button>

        <button class="btn btn-outline-secondary btn-sm" (click)="addToFavorites(s)">
          Ajouter aux favoris
        </button>

      </div>
    </div>
  </div>
</div>
